body	
{
	background-image: url("backgroundImage.jpeg");
}

h1, h2, h3, p
{
	text-align: center;
}

h1
{
	font-size: 100px;
	font-family: 'Pangolin', cursive;
	margin-bottom: 0;
}

h2
{
	font-size: 50px;
	font-family: 'Lato', sans-serif;	
}

h3
{
	font-size: 30px;	
	font-family: 'Lato', sans-serif;
	margin-bottom: 0;
}

img
{
	margin-top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main
{
	background-color: gray;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

#video
{	
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
}

#video-inner
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#audio-inner
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#audio
{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 3px solid black;
}

#form-main
{
	font-family: 'Lato', sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 3px solid black;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

#form-inner
{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

#form-element
{
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	/* width: 560px;  */
	margin-left: auto;
	margin-right: auto;
}